<%- include ('../partials/header') %>
<%- include ('../partials/menu', {username: user}) %>



<main class="d-flex flex-row">
    <style>
        .scuuber-menu {
            color: black; font-size: 19px;font-family: 'IBM Plex Mono', monospace;text-decoration: underline;
        }
        .scuuber-title {
            color: black; 
            font-family: 'IBM Plex Mono', monospace; 
            font-weight: semibold;
        }
        .scuuber-text {
            color: black; font-size: 15px;font-family: 'IBM Plex Mono', monospace; text-decoration: none;
        }
        .scuuber-btn {
            color: black; 
            font-size: 15px;
            font-family: 'IBM Plex Mono', monospace;
            border-width:0px;
            background-color:#117c9a;

        }
        .side-bar {
            flex: 3;
            height:100vh;
            background-color: #adadad;
            padding:0px;
            align-items: center;
            box-shadow: 0 0 30px rgba(173, 173, 173, 5);
            border-style: solid;
            border-width: 0px;
            position: relative;
            z-index: 10;
        }
        .main-friends {
            flex: 11;
            justify-content: center;
            background-color: #efefef;
        }
        .friend-icons {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            border-radius: 10px;
            background-color: rgb(173, 173, 173);
            padding-bottom: 10px;
        }
        .friend-icons:hover {
            border-radius: 30px;
        }
        .friend-box {
            margin-top: 10px; 
            width:80%; 
            justify-content: center; 
            align-items: center; 
            border-radius: 7px;
            align-items: center;
            color: rgb(255, 255, 255); 
            font-size: 15px;
            font-family: 'IBM Plex Mono', monospace; 
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background-color: #0064bc;
        }
        .add-friends-outer {
            border-style: none;
            width: 100%; 
            align-items: center; 
            border-color: black; 
            border-width: 1px;
            margin: 0px;
            background-color: #bebfc5;
            border-radius: 10px;
            height: 82%;
        }
        .add-friends-input {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            background-color: rgb(139, 142, 152);
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 10px;
            flex: 1;
            border-style: none;
            border-color: red;
            padding: 0px;
            margin-top: 10px;
        }
        .friend-search {
            background-color: white;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            /*padding: 3px 0px 3px 3px;*/
            /*margin: 5px 1px 3px 0px;*/
            border-color: rgb(25, 165, 204); 
            border-style: none;
            border-width: 1px;
            border-radius: 6px;
            font-family: 'IBM Plex Mono', monospace;
            /*font-size: 20px;*/
            height: 35px;
            width: 100%;
        }
        .form {
            margin: 0px;
        }
        .friend-request {
            border-style: solid; 
            /*border-color: black; */
            border-width:0px;
            background-color: #3babca;
            width: 90%; 
            margin-top:15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(81, 203, 238, 5); 
        }
        .friend-accept { 
            background-image: 'skiing-2.png';
        }
        .headingitem{
                background-color: #001e39;
                /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/099/716/small_2x/mountain-beautiful-landscape-background-design-illustration-free-vector.jpg"); */
                padding: 10px;
                font-size: 16px;font-family: 'IBM Plex Mono';
                }
    </style>

<!-- <div class="container-fluid d-flex align-items-center justify-content-center center headingitem" style="height: 20vh;">

    <div class="container-fluid" style="width: 1000px; padding-left: 100px;" >
      <div class="container-fluid">
        <h1 class="center" style="color:#F6F1F1">Ready to go skiing, <%= user %>?</h1>
      </div>
    </div>
</div> -->



  <div class="d-flex flex-column container side-bar" style="padding:0px; align-items: center;">
    <div class="mt-3 friend-icons" style="justify-content: center; align-items: center;">           
        <a>
            <img src="skiing.png" 
                class="img-thumbnail"
                height="70px"
                width="70px"
                alt="Scuuber" />
        </a>
        
    </div>
    <div class="d-flex friend-box" style="font-weight: bold; background-color: #1784b7;"> 
        Friend List      
    </div>
    <% if (friend_list.length > 0) { %>
        <% for (var i = 0; i < friend_list.length; i++) { %>
            <div class="d-flex friend-box" style="">  
                <%= friend_list[i]['friend_username'] %>        
                <form action="removeFriend" method="GET" style="float: right; padding-left: 50px">
                    <input type="hidden" name="username" value="<%= friend_list[i].friend_username %>" /> 
                    <button type="submit" class="btn btn-outline-info scuuber-btn">
                        <i class="fa fa-x"></i>
                    </button>
                </form>
            </div>
        <% } %>
    <% } %>
  </div>  
  <div class="d-flex flex-row container main-friends" style="padding-top: 30px;">
    <div class="d-flex flex-column add-friends-outer" style="">
        <h1 class="scuuber-title">Add Friends</h1>
        <form action="\addFriendRequest" method="POST" name="FriendSendRequest" style="margin-top: 15px; width:90%; justify-content:center;">
            <label class="scuuber-text" for="friend_username">Add a friend by entering their username</label>
            <div class="d-flex row add-friends-input">
                <div class="form col-md my-1" style="flex: 7;">
                    <input class="form-control friend-search" type="text" id="friend_username" name="friend_username" style="" />
                </div>
                <div class="col my-1" style="flex: 1;">
                    <input id="submitbutton" type="submit" value="Invite friend" class="btn btn-primary" style="border-radius: 5px; font-size: 15px; font-family: 'IBM Plex Mono', monospace;" />
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex flex-column" style="width: 100%; align-items: center; ">
        <p class="scuuber-title">Your friend requests</p>
        <% if (friend_request_list.length == 0) { %>
            <p class="scuuber-text">You have no friend requests</p>
        <% } %>
        <% if (friend_request_list.length > 0) { %>
            <p class="scuuber-text"> You have <%= friend_request_list.length %> friend requests</p>
            <% for (var i = 0; i < friend_request_list.length; i++) {%>
                <div class="d-flex flex-column friend-request" style="">
                    <div class="d-flex">
                        <div class="d-flex me-auto mx-2" style="align-items: center; font-family: 'IBM Plex Mono', monospace;">
                            <%= friend_request_list[i]['username'] %>
                        </div>
                        <div class="d-flex my-1" style="margin-right:10px;">
                            <form action="acceptFriend" method="GET">
                                <input type="hidden" name="username" value="<%= friend_request_list[i].username %>" /> 
                                <button type="submit" class="btn btn-outline-info scuuber-btn">
                                    <i class="fa fa-check"></i>
                                </button>
                            </form>
                        </div>
                        <div class="d-flex my-1" style="margin-right:10px;">
                            <form action="declineFriend" method="GET">
                                <input type="hidden" name="username" value="<%= friend_request_list[i].username %>" /> 
                                <button type="submit" class="btn btn-outline-info scuuber-btn">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
        
    </div>
  </div>

  <script>
    // Little JS script to prevent the user from trying add a friend with a blank username
    let input = document.getElementById("friend_username");
    let output = document.getElementById("submitbutton");

    output.disabled = true;
    input.addEventListener("change", stateHandle);

    function stateHandle() {
        if(document.getElementById("friend_username").value === ""){
            output.disabled = true;
        } else {
            output.disabled = false;
        }
    }
</script>

</main>

<%- include ('../partials/footer') %>
