<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>



<main>
  <div class="container">
    <% if(data){ %>
    <div class="card" style="width: 18rem;" id="weather-popup">
      <div class="card-header" id="popup-header">
        Weather
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Temp: <span id="temp"><%- data.current.temp_f%></span></li>
        <li class="list-group-item">Precipiation: <span id="precip"><%- data.current.precip_in%></span></li>
        <li class="list-group-item">Wind: <span id="wind"><%- data.current.wind_mph%></span></li>
      </ul>
    </div>
    <% } %>
    <form action="/home" method="POST">
      <label for="location">Location</label>
      <input type="location" id="location" name="location" />
      <button type="submit">Get Weather</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>