<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div>
    hello
    
        </form>
        <p class="scuuber-title">Your friend requests</p>
        <% if (friend_request_list.length == 0) { %>
            <p class="scuuber-text">You have no friend requests</p>
        <% } %>
        <% if (friend_request_list.length > 0) { %>
            <p class="scuuber-text"> You have <%= friend_request_list.length %> friend requests</p>
            <% for (var i = 0; i < friend_request_list.length; i++)%>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="form-group w-50">
                            <p class="scuuber-text"><%= friend_request_list[0]['username'] %></p>

                        </div>
                        <div class="col-sm">
                            <form action="acceptFriend" method="GET">
                                <input type="hidden" name="username" value="<%= friend_request_list[0].username %>" /> 
                                <input type="submit"class="btn btn-outline-info scuuber-btn" style="border-radius: 30px;"  value="Accept friend" />
                                <div></div>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form action="declineFriend" method="GET">
                                <input type="hidden" name="username" value="<%= friend_request_list[0].username %>" /> 
                                <input type="submit" class="btn btn-outline-info scuuber-btn" style="border-radius: 30px;" value="Decline friend" />
                                <div></div>
                            </form>
                        </div>
                    </div>
                   
                </li>
            </ul>
        <% } %>
        <p class="scuuber-title">Your friends</p>
        <% if (friend_list.length == 0) { %>
            <p class="scuuber-text">You have no friends. Better get you some friends</p>
        <% } %>
        <% if (friend_list.length > 0) { %>
                <p class="scuuber-text">You have <%= friend_list.length %> friends </p>
                <% for (var i = 0; i < friend_list.length; i++) { %>

                <div class="row">
                <ul class="list-group w-50">
                    <li class="list-group-item">
                        <%= friend_list[i]['friend_username'] %>
                    </li>
                </ul>
                </div>
                <% } %>
        <% } %>
    </div>
    <!--
    <div class="card m-2" style="width: 24rem;float:right;" id="weather-popup">
  <div>
    hello
    
    <div class="card m-2" id="weather-popup">

      <form action="/home" method="POST">
        <div class="row">
          <label for="location">Location</label>
          <input type="location" id="location" name="location" placeholder="City, State"/>
        </div>
        <div class="row">
          <button type="submit" id="weather-btn" class="btn btn-primary">Get Weather</button>
        </div>
      </form>

      <% if(locals.data){ %>
      <div class="card-header" id="popup-header">
        Weather for <%-locals.data.location.name%>, <%-locals.data.location.region%>, <%-locals.data.location.country%>
      </div>
        <%for(let i = 0; i < 7; i++){ %>
        <div class="row">
          <%console.log("forecastday = , i = ", locals.data.forecast.forecastday[i], ",", i);%>
          <div class="card-title" style="font-weight:bold;"><%- days[(d.getDay() + i)%7] %></div>
          <div class="col">
            <div class="list-group-item">Max Temp: <span id="temp"><%- locals.data.forecast.forecastday[i].day.maxtemp_f%></span> f</div>
            <div class="list-group-item">Min Temp: <span id="temp"><%- locals.data.forecast.forecastday[i].day.mintemp_f%></span> f</div>
          </div>
          <div class="col">
            <div class="list-group-item">Precipiation: <span id="precip"><%- locals.data.forecast.forecastday[i].day.totalprecip_in%></span> in</div>
            <div class="list-group-item">Wind: <span id="wind"><%- locals.data.forecast.forecastday[i].day.maxwind_mph%></span> mph</div>
          </div>
        </div>
          
        <% } %>
        <% } %>
        
    </div>
    -->
  </div>

</main>

<%- include ('../partials/footer') %>
