<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


<main>
    <style>
        .scuuber-menu {
    color: black; font-size: 19px;font-family: 'IBM Plex Mono', monospace;text-decoration: underline;
}

.scuuber-title {
    color: black; font-size: 19px;font-family: 'IBM Plex Mono', monospace; font-weight: semibold;
}

.scuuber-text {
    color: black; font-size: 15px;font-family: 'IBM Plex Mono', monospace; text-decoration: none;
}
.scuuber-btn {
    color: black; 
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 10px;
}

    </style>
  <div class="container" style="padding-top: 10px">
    <p class="scuuber-title">List of Users</p>
    <div>
      <table class="table">
        <tr>
          <th>
            Username
          </th>
          <th>

          </th>
        </tr>
  
        <% for(let i = 0; i < users.length; i++){ %>
          <form action="/home/add_friends" method="POST">
            <tr>
              <td>
                <%= users[i].username%>
              </td>
              <td>
                <button class="scuuber-btn" name="user_id" type="submit" value="<%- users[i].username %>">Add Friend</button>
              </td>
            </tr>
          </form>
        <% } %>
        
        </table>
    </div>
    
        

    <!-- <div class="card m-2" style="width: 24rem;float:right;" id="weather-popup">
      <% if(locals.data){ %>
      <div class="card-header" id="popup-header">
        Weather for <%-locals.data.location.name%>, <%-locals.data.location.region%>, <%-locals.data.location.country%>
      </div>
        <%for(let i = 0; i < 7; i++){ %>
        <div class="row">
          <%console.log("forecastday = , i = ", locals.data.forecast.forecastday[i], ",", i);%>
          <div class="card-title" style="font-weight:bold;"><%- days[(d.getDay() + i)%7] %></div>
          <div class="col">
            <div class="list-group-item">Max Temp: <span id="temp"><%- locals.data.forecast.forecastday[i].day.maxtemp_f%></span></div>
            <div class="list-group-item">Min Temp: <span id="temp"><%- locals.data.forecast.forecastday[i].day.mintemp_f%></span></div>
          </div>
          <div class="col">
            <div class="list-group-item">Precipiation: <span id="precip"><%- locals.data.forecast.forecastday[i].day.totalprecip_in%></span></div><div class="col"></div>
            <div class="list-group-item">Wind: <span id="wind"><%- locals.data.forecast.forecastday[i].day.maxwind_mph%></span></div><div class="col"></div>
          </div>
        </div>
          
        <% } %>
        <% } %>
        <form action="/home" method="POST">
          <div class="row">
            <label for="location">Location</label>
            <input type="location" id="location" name="location" placeholder="City, State"/>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary">Get Weather</button>
          </div>
        </form>
    </div>
  </div> -->

</main>

<%- include ('../partials/footer') %>