<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
        <form action="\addFriendRequest" method="POST">
            <label for="friend_username">Username:</label>
            <input type="text" id="friend_username" name="friend_username" />
            <input type="submit" value="Add friend" />
            <div></div>
        </form>
        <p>Your friend requests</p>
        <% if (friend_request_list.length == 0) { %>
            <p>You have no friend requests</p>
        <% } %>
        <% if (friend_request_list.length > 0) { %>
            <p>You have <%= friend_request_list.length %> friend requests</p>
            <% for (var i = 0; i < friend_request_list.length; i++)%>
            <ul class="list-group">
                <li class="list-group-item">
                    <%= friend_request_list[0]['username'] %>
                    <form action="acceptFriend" method="GET">
                        <input type="hidden" name="friend_username" value="<%= friend_request_list[0].friend_username %>" /> 
                        <input type="submit" value="Add friend" />
                        <div></div>
                    </form>
                </li>
            </ul>
        <% } %>
        <p>Your friends</p>
    </div>
</main>

<%- include ('../partials/footer') %>