<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./calendarconfig.css">
	<style>
			header{
				text-align: center;
			}

			header > h1{
				color: rgb(19, 57, 103);
			}

			.calendar-container{
				width: 100%;
			}

			.month-container{
				width: 100%;
				height: 100%;
			}

			.day-of-week{
				display: grid;
				grid-template-columns: repeat(7,1fr);
				grid-gap: 1em;
			}

			.day-of-week > span{
				height: 14vh;
				text-align: center;
			}

			.days{
				display: grid;
				grid-template-columns: repeat(7,1fr);
				grid-gap: 1em;
			}

			.date{
			height: 14vh;
				text-align: center;
			}

	</style>

</head>

<body>

    <header>
        <h1>My Calendar</h1>

        <h2><%= year %></h2>
    </header>


    <div class="calendar-container">
        <% for(let month = 0;month < calendar.length;month++) { %>
        <div class="month-container" id="<%= months[month] %>">
            <h3 style="text-align: center;"> <%= months[month] %> </h3>
            <div class="day-of-week">
                <span>Sun</span><span>Mon</span><span>Tue</span><span>
                    Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
            </div>
            <% for(let x = 0;x < calendar[month].length;x++) { %>
            <div class="days">
                <% for(let y = 0;y < calendar[month][x].length;y++) { %>
                <div class="date">
                    <div id="<%=calendar[month][x][y] %>">
                        <%= calendar[month][x][y] %>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>

</body>

</html>


<!-- 
<!DOCTYPE html>
<html>
  <head>
    <title>My Calendar</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
        />
        <script src="./calendar_config.js"></script>
        <link rel="stylesheet" href="../partials/calendar_config.css" />
  </head>


    <body onload="initializeContent()"></body>
    <div class="container-fluid">

        <div id="calendar" class = "row" style = "height: 100vh;">
            <div id="event-modal" class="modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">New Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <div>
                          <label class="form-label" for = "event_name">Event Name</label>
                          <input type = "text" id="event_name" class = "form-control">
                        </div>
                        <div>
                          <label class="form-label" for = "weekday">Weekday</label>
                          <select type = "text" id ="weekday" class = "form-select" placeholder="Sunday">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday"></option>
                          </select>
                        </div>
                        <div>
                          <label class="form-label" for = "time">Time</label>
                          <input type = "time" id="time" class = "form-control">
                        </div>
                        <div>
                          <label class="form-label" for = "modality">Modality</label>
                          <select selected="selected" id ="modality" required onchange="updateLocationOptions(this.value)">
                            <option value="inperson">In Person</option>
                            <option value="remote">Remote</option>
                          </select>
                          <div id="locationdiv">
                              <label class ="form-label" id="loc" for="location">Location</label>
                              <input type="text" id="location"  class="form-control" >
                          </div>
                          <div id="remoteurldiv">
                              <label class ="form-label" for="remoteurl" id="rem">Remote URL</label>
                              <input type="url" id="remote_url" class="form-control" placeholder="https://">
                          </div>
                        </div>
                        <div>
                          <label class="form-label" for = "attendees">Attendees</label>
                          <input type = "text" id="attendees" class="form-control" >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="submit_button" class="btn btn-primary" type="submit">Create Event</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </body>
</html> -->

<%- include ('../partials/menu') %>